body{
    color: white;
    font-family: 'Assistant', sans-serif;
    margin: 0;
}

/* Grid da página inteira */
.grid{
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "header"
    "regras-do-jogo"
    "jogo-da-velha"
    "footer";
}

header{
    background-color: #262626;
    grid-area: header;
    padding: 10px 20px;
}

img{
    justify-content: space-between;
    width: 100px;
}

.regras-do-jogo{
    background-color: #000;
    grid-area: regras-do-jogo;
    padding: 10px 35px;    
}

h1{
    font-size: 20pt;
}

p{
    font-size: 12pt;
}

ul li{
    font-size: 10pt;
    padding: 1.5px;
    list-style-type: none;
}

hr{
    border: 1px solid #7F7B74;
    box-shadow: 5px 5px 15px grey;
    width: 80%;
}

footer{
    background-color: #262626;
    grid-area: footer;
    padding: 20px;
}

/* Grid do jogo da velha */
.jogo-da-velha{
    background-color: #000;
    grid-area: jogo-da-velha;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "quad-um quad-dois quad-tres"
    "quad-quatro quad-cinco quad-seis"
    "quad-sete quad-oito quad-nove";
    justify-content: center;
    padding: 4vw 0;
}

section div{
    cursor: pointer;
    height: 17vw;
    width: 17vw;
}

.quad-um{
    grid-area: quad-um;
    border-width: 0 3px 3px 0; 
    border-style:  solid;
    border-color: black;
    background-color: #A9A9A9;
}


.quad-dois{
    grid-area: quad-dois;
    border-width: 0 3px 3px 0; 
    border-style:  solid;
    border-color: black;
    background-color: #FFF8D8;
    
}

.quad-tres{
    grid-area: quad-tres;
    border-width: 0 0 3px 0; 
    border-style:  solid;
    border-color: black;
    background-color: #A9A9A9;
}

.quad-quatro{
    grid-area: quad-quatro;
    border-width: 0 3px 3px 0; 
    border-style:  solid;
    border-color: black;
    background-color: #FFF8D8;
}

.quad-cinco{
    grid-area: quad-cinco;
    border-width: 0 3px 3px 0; 
    border-style:  solid;
    border-color: black;
    background-color: #A9A9A9;
}

.quad-seis{
    grid-area: quad-seis;
    border-width: 0 0 3px 0; 
    border-style:  solid;
    border-color: black;
    background-color: #FFF8D8;
}

.quad-sete{
    grid-area: quad-sete;
    border-width: 0 3px 0px 0; 
    border-style:  solid;
    border-color: black;
    background-color: #A9A9A9;
    
}

.quad-oito{
    grid-area: quad-oito;
    border-width: 0 3px 0 0; 
    border-style:  solid;
    border-color: black;
    background-color: #FFF8D8;
}

.quad-nove{
    grid-area: quad-nove;
    background-color: #A9A9A9;
}

.efeito-quad{
    background-color: red;
}

.efeito-quad-dois{
    background-color: blue;
}